
@{
    ViewBag.Title = "PrintOrderReport";
    Layout = "~/Views/Shared/AdminLayoutPage.cshtml";
}
<script type="text/javascript">
    jQuery(document).ready(function () {
        Main.init();
        TableData.init();
    });
</script>

<h4>Print Order Report</h4>

